body {   
    background-color: #333;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

header {
    background-color:gray;
    color: #fff;
}

p {
    font-family: 'Roboto', sans-serif;
}

a:link {
    color: #fff;
    text-decoration: none;
}

a:visited {
    color: whitesmoke;
}

a:hover {
    font-size: 20px;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#navbar {
    background-color: #333;
    color: #fff;
}

#navber ul {
    padding: 0;
    list-style: none;
}

#navbar li {
    display: inline;
}

#navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}

#showcase {
    background-image: url(../img/back1.jpg);
    background-position: center;
    min-height: 300px;
    margin-bottom: 30px;
    text-align: center;
    background-attachment: fixed;
}

#showcase h1 {
    color: #fff;
    font-size: 50px;
    text-shadow: 2px 2px black;
    line-height: 1.6em;
    padding-top: 30px;
}

#showcase p {
    color: #fff;
    text-shadow: 2px 2px black;
}

#main {
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;

}

#sidebar {
    float: right;
    width: 30%;
    background: gray;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
}

.fab {
    font-size: 30px;
    margin: 15px 5px 15px 5px;
}

#footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    font-size: smaller;
}

@media(max-width:600px) {
    #main {
        width: 100%;
        float: none;
    }

    #sidebar {
        width: 100%;
        float: none;
    }
}